@import "tailwindcss";

@theme {
  /* Black */
  --color-black-01: #0a0a0a;
  --color-black-02: #0000001a; /* 10% opacity */
  --color-black-03: #030213;

  /* Gray */
  --color-gray-01: #717182;

  /* White  */
  --color-white-01: #ffffffcc; /* 80% opacity */
  --color-white-02: #ffffff80; /* 50% opacity */
  --color-white-03: #ffffff99;
  --color-white-04: #e5e7eb;

  /* Shadows */
  --shadow-primary: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

/* Custom Classes */
body {
  background-color: white;
  font-family: var(--font-inter);
}

button,
a {
  cursor: pointer;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .text-gradient-primary {
    @apply bg-linear-to-r from-[#101828] via-[#59168B] to-[#1C398E] bg-clip-text text-transparent;
  }
  .text-gradient-secondary {
    @apply bg-linear-to-r from-[#101828] via-[#2454ff] to-[#1c398e] bg-clip-text text-transparent;
  }
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
}
